/*---------------accueil.html----------------*/

/*--------------------fin--------------------*/

/*---------------presentation.html----------------*/
#container-global {
  width: 900px;
}

#col-gauche {
width: 400px;
float: left;
text-align: center;
position: fixed;
margin-top: 300px;
margin-left: 100px;
font-size: 28px;
}

#col-droite {
  margin-left: 800px;

  background-color: white;
}

.metiers {
  width: 600px;
  height: 400px;
}



/*--------------------fin-------------------------*/

/*---------------equipe.html----------------*/

/*--------------------fin--------------------*/

/*---------------contact.html----------------*/

/*--------------------fin--------------------*/

/*---------------.html----------------*/

/*--------------------fin--------------------*/