/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px; 
    resize: vertical 
  }
  
  
  input[type=soumettre] {
    background-color: #0C3370;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=soumettre]:hover {
    background-color: #F95D23;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  body{
      background-image: url(https://www.agap2.fr/app/uploads/2020/08/travaux-et-mise-en-service.jpg);
  }
  #soumettre{
      display: flex;
      justify-content: center;
  }
  .soum{
      text-align: center;
  }