/*---------------accueil.html----------------*/
#commejeveux{
  height: 150vh;
  
}
#petitimg{
  background-image: url(https://media0.gmgroup.be/23-107.jpeg);
  height: 80vh;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
 
}
.txt{
  margin-top: 100px;
}
#accueil{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.tarif{
  height: 200px;
  width:300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#acc{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
}
.pnc{
  text-align: center;
  color: white;
}
.imgacc{
  height: 100px;
  width: 100px;
 align-items: center;
}
.imgacc:hover{
  height: 200px;
  width: 200px;
}

.image_center{
  display: flex;
  justify-content: center;
  align-items: center;
}  
#page{
   display: flex;
  flex-direction: column;
}
#dev{
  margin-top: 180px;
  display: flex;
  justify-content: center;
}
#devis {
  background-color: #1f07f8;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.devis:hover{
    background-color: orange;
}
body{
    padding: 0px;
    margin: 0px;
}
/*--------------------fin--------------------*/

/*------------------equipe.hml------------------*/

#container-eq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  margin-top: 40px;
}

.container-left{
  margin-left: 300px;
  cursor: pointer;
}

.container-left:hover{
 
  color: #F95D23;
  transform: scale(1.2); /* (120% zoom)*/
}

.container-center{
  cursor:pointer;
}

.container-center:hover{
  transform: scale(1.2); /* (120% zoom)*/
}

.container-right{
  margin-right: 300px;
  cursor: pointer;
}

.container-right:hover{
  cursor: pointer;
  transform: scale(1.2); /* (120% zoom)*/
}

.text-eq{
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  height: 30px;
  padding-top: 14px;
  background-color: #0C3370;
  color:white;
  cursor: pointer;
}

.text-eq:hover{
  color: #F95D23;
  text-decoration: none;
}

#container-eq-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container-eq-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
}

.img-eq-2 {
  width:200px;
  height:200px;
  border-radius: 50px;
}

#container-eq2 {
display: flex;
flex-direction: column;
margin-top: 200px;
}

#fabieng {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.container-gauche {
  margin-left: 480px;
}

.container-droit {
  margin-right: 200px;
  margin-left:  150px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 100px;
}

.img-eq-1 {
width:300px;
height:300px;
}

.corenting {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 40px;
}

#définition {
  margin-top: 20px;
}
/*-------------------fin-------------------------*/

/*----------------presentation.html--------------*/
body{
  margin: 0;
}

iframe {
  margin-top: 20px;
}

#container-global {
  width: 900px;
}

#col-gauche {
width: 400px;
float: left;
text-align: center;
position: fixed;
margin-left: 150px;
font-size: 28px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: gold;
}

#col-droite {
  margin-left: 800px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:black;
  color: whitesmoke;
}
.gold{
  color: gold;
  margin-top: 20px;
}

.metiers {
  width: 600px;
  height: 400px;
  margin-top: 10px;
}
#back{
  background-color: black;
}

/*----------------fin----------------------------*/

/*---------------realisation.html----------------*/

main{
  min-height: 150vh;
}
*{
  padding:0;
  margin:0;
}

.slider {
  width: 500px;
  overflow: hidden;
  margin: 50px 100px;
}

.slides {
  width: calc(500px * 3);
  overflow: hidden;
  animation: glisse 10s infinite;
}

.slide{
  float: left;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translatex(0);
  }
  33% {
    transform: translateX(-500px);
  }
  43% {
    transform: translateX(-500px);
  }
  66% {
    transform: translateX(-1000px);
  }
  76% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }

}

#container-real{
  display: flex;
  flex-direction: column;
}

.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F2FBFB;
  margin-top: 5px;
}

.tour{
  margin-top: 90px;
  margin-right: 180px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.tour2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 100px;
}

.tour3{
  margin-top: 60px;
}

#realisation{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  margin-top: 20px;
}

.text-real{
 
  width: 500px;
  height: 336px;
  border-radius: 20px;
}

.textcentre{
  margin-left: 100px;
}

/*--------------------fin--------------------*/

/*---------------contact.html----------------*/

#size-contact {
  min-height: 105vh;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px; 
  resize: vertical 
}


input[type=soumettre] {
  background-color: #0C3370;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=soumettre]:hover {
  background-color: #F95D23;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 200px;
  margin-bottom: 200px;
}
#contact-body {
    background-image: url(https://www.agap2.fr/app/uploads/2020/08/travaux-et-mise-en-service.jpg);
    margin: 0;
    background-repeat: no-repeat;
}

#soumettre{
    display: flex;
    justify-content: center;
}
.soum{
    text-align: center;
}
/*--------------------fin--------------------*/

/*------------------HEADER-------------------*/

html{
  padding: 0;
  margin: 0;
}

#logo {
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

#menu {
  float: right;
  display: inline-flex;
  margin-right: 50px;
  padding-top: 35px;
  list-style: none;
}

#navbar {
  background-color:#0E92EA;
  display: flex;
  justify-content: space-between;
}

.navig {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
}

li .navig {
  display: block;
  padding: 20px 20px;
}

li .navig:hover {
  cursor: pointer;
  color: red;
  background-color: rgb(78, 77, 80);
}
/*------------------FIN-----------------------*/

/*-----------------FOOTER---------------------*/

#foot {
  background-color: orange;
  height: 180px;
}

#container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.liste {
  list-style: none;
}

.logo-réseaux {
  height: 40px;
  width: 40px;
  padding-left: 20px;
}

#logo {
  display: flex;
  flex-direction: row;
  margin-right: 130px;
}

.liste-gr {
  padding-top: 5px;
}

.footer {
  padding-top: 20px;
}

h3 {
  text-align: center;
  color: white
}

.nom {
  padding-top: 5px;
  color: white;
}

.lien {
 text-decoration: none;
 color: white
}
/*------------------FIN-----------------------*/
