/*---------------accueil.html----------------*/

/*--------------------fin--------------------*/

/*---------------presentation.html----------------*/

/*--------------------fin-------------------------*/

/*---------------equipe.html----------------*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
}

.container-left{
    margin-left: 300px;
    cursor: pointer;
}

.container-left:hover{
   
    color: #F95D23;
    transform: scale(1.2); /* (120% zoom)*/
}

.container-center{
    cursor:pointer;
}

.container-center:hover{
    transform: scale(1.2); /* (120% zoom)*/
}

.container-right{
    margin-right: 300px;
    cursor: pointer;
}

.container-right:hover{
    cursor: pointer;
    transform: scale(1.2); /* (120% zoom)*/
}

.text-eq{
    border: 1px solid black;
    text-align: center;
    height: 30px;
    padding-top: 14px;
    background-color: #0C3370;
    color:white;
    cursor: pointer;
}

.text-eq:hover{
    color: #F95D23;
}

#container-eq-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container-eq-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

#img-eq-1 {
    width:200px;
    height:200px ;
    cursor: pointer;
}

#img-eq-2 {
    width:200px;
    height:200px ;
}

#img-eq-3 {
    width:200px;
    height:200px ;
}

#img-eq-4 {
    width:200px;
    height:200px ;
}

#img-eq-5 {
    width:200px;
    height:200px ;
}

#img-eq-6 {
    width:200px;
    height:200px ;
}


/*--------------------fin--------------------*/

/*---------------contact.html----------------*/

/*--------------------fin--------------------*/

/*---------------.html----------------*/

/*--------------------fin---------------------------*/