/*---------------accueil.html----------------*/

/*--------------------fin--------------------*/

/*---------------presentation.html----------------*/
#container-global {
  width: 900px;
}

#col-gauche {
width: 250px;
float: left;
text-align: center;
position: fixed;
}

#col-droite {
  margin-left: 500px;

  background-color: white;
}

/*--------------------fin-------------------------*/

/*---------------equipe.html----------------*/

/*--------------------fin--------------------*/

/*---------------contact.html----------------*/

/*--------------------fin--------------------*/

/*---------------.html----------------*/

/*--------------------fin--------------------*/